<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="stylesheet" href="/login/login.css">

        <script src="/baseUrl.js"></script>
    </head>

    <body>
        <a href="/">Back</a>
        <h1>Login</h1>

        <form id="login-form">
            <p>Username</p>
            <input type="text" id="username-input" placeholder="username">

            <p>Password</p>
            <input type="password" id="password-input" placeholder="password">

            <br>

            <button type="submit" id="login-button">Login</button>
        </form>
    </body>

</html>