<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>

        <link rel="stylesheet" href="/signup/signup.css">
    </head>

    <body>
        <a href="/">Back</a>
        <h1>Signup</h1>

        <form id="login-form">
            <p>Username</p>
            <input type="text" id="username-input" placeholder="username">

            <p>Password</p>
            <input type="password" id="password-input" placeholder="password">

            <p>Retype password</p>
            <input type="password" id="retypepassword-input" placeholder="retype password">

            <br>

            <button type="submit" id="singup-button">Singup</button>
        </form>
    </body>

</html>